@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #020617;
}

html {
  background: var(--background);
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
}
